In [1]:
import numpy as np
import pandas as pd

path = "../materials/Week1/1주차 퀴즈/"

## 1. load data

In [2]:
df1 = pd.read_csv(path + "COPD_Lung_Cancer.csv", engine="python")

## 2. Check Followings
top 6 datas

In [3]:
df1.head(6)

,PERSON_ID,SEX,DTH,CTRB_PT_TYPE_CD,BMI,BP_LWST,BLDS,TOT_CHOLE,HMG,FMLY_CANCER_PATIEN_YN,SMK_STAT_TYPE,DRNK_HABIT,EXERCI_FREQ,lungC,copd,Asthma,DM,Tub,before_op_score,after_op_score
0,10000065,1,0,8,25.73,90,112.0,177.0,12.2,1.0,1.0,1.0,1.0,0,0,0,1,0,44,52
1,10000183,1,0,9,22.77,100,105.0,177.0,15.7,1.0,1.0,5.0,1.0,0,1,1,1,0,44,53
2,10000269,1,0,8,24.54,70,76.0,156.0,13.1,1.0,1.0,1.0,1.0,1,1,0,1,1,37,60
3,10000471,1,0,1,21.63,100,70.0,228.0,14.0,NaN,1.0,1.0,1.0,0,1,0,1,0,50,44
4,10000788,2,0,7,25.65,54,113.0,199.0,12.1,1.0,1.0,1.0,1.0,0,0,1,1,0,31,43
5,10001096,2,0,3,19.84,60,137.0,182.0,12.0,1.0,1.0,1.0,1.0,0,0,0,0,0,34,49

sturcture

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 944 entries, 0 to 943
Data columns (total 20 columns):
PERSON_ID                944 non-null int64
SEX                      944 non-null int64
DTH                      944 non-null int64
CTRB_PT_TYPE_CD          944 non-null int64
BMI                      944 non-null float64
BP_LWST                  944 non-null int64
BLDS                     936 non-null float64
TOT_CHOLE                934 non-null float64
HMG                      938 non-null float64
FMLY_CANCER_PATIEN_YN    853 non-null float64
SMK_STAT_TYPE            900 non-null float64
DRNK_HABIT               911 non-null float64
EXERCI_FREQ              908 non-null float64
lungC                    944 non-null int64
copd                     944 non-null int64
Asthma                   944 non-null int64
DM                       944 non-null int64
Tub                      944 non-null int64
before_op_score          944 non-null int64
after_op_score           944 non-null int64
dtypes: float64(8), int64(12)
memory usage: 147.6 KB

basic statistics

In [5]:
df1.describe()

,PERSON_ID,SEX,DTH,CTRB_PT_TYPE_CD,BMI,BP_LWST,BLDS,TOT_CHOLE,HMG,FMLY_CANCER_PATIEN_YN,SMK_STAT_TYPE,DRNK_HABIT,EXERCI_FREQ,lungC,copd,Asthma,DM,Tub,before_op_score,after_op_score
count,9.440000e+02,944.000000,944.000000,944.000000,944.000000,944.000000,936.000000,934.000000,938.000000,853.000000,900.000000,911.000000,908.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000,944.000000
mean,1.008810e+07,1.582627,0.006356,5.650424,22.713475,81.081568,102.084402,199.761242,13.096375,1.044549,1.305556,1.501647,1.482379,0.078390,0.403602,0.528602,0.602754,0.079449,40.076271,50.064619
std,4.948549e+04,0.493387,0.079512,3.451626,3.275907,12.072717,32.727988,39.575206,1.393164,0.206432,0.657778,1.126966,1.126369,0.268927,0.490879,0.499446,0.489587,0.270582,5.985180,6.012805
min,1.000006e+07,1.000000,0.000000,0.000000,12.650000,50.000000,61.000000,100.000000,7.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,30.000000,40.000000
25%,1.004744e+07,1.000000,0.000000,2.000000,20.422500,70.000000,84.000000,173.000000,12.200000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,35.000000,45.000000
50%,1.009003e+07,2.000000,0.000000,6.000000,22.670000,80.000000,94.000000,197.000000,13.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,40.000000,50.000000
75%,1.013170e+07,2.000000,0.000000,9.000000,24.902500,90.000000,108.000000,224.750000,14.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000,45.000000,55.000000
max,1.017383e+07,2.000000,1.000000,10.000000,34.230000,130.000000,368.000000,393.000000,17.100000,2.000000,3.000000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,50.000000,60.000000

columns

In [6]:
df1.columns

Index(['PERSON_ID', 'SEX', 'DTH', 'CTRB_PT_TYPE_CD', 'BMI', 'BP_LWST', 'BLDS',
       'TOT_CHOLE', 'HMG', 'FMLY_CANCER_PATIEN_YN', 'SMK_STAT_TYPE',
       'DRNK_HABIT', 'EXERCI_FREQ', 'lungC', 'copd', 'Asthma', 'DM', 'Tub',
       'before_op_score', 'after_op_score'],
      dtype='object')

null values

In [7]:
df1.isnull().sum()

PERSON_ID                 0
SEX                       0
DTH                       0
CTRB_PT_TYPE_CD           0
BMI                       0
BP_LWST                   0
BLDS                      8
TOT_CHOLE                10
HMG                       6
FMLY_CANCER_PATIEN_YN    91
SMK_STAT_TYPE            44
DRNK_HABIT               33
EXERCI_FREQ              36
lungC                     0
copd                      0
Asthma                    0
DM                        0
Tub                       0
before_op_score           0
after_op_score            0
dtype: int64